body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #86a3a9;
    color: black;
    box-sizing: border-box;
    transition: background-color 1s ease;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 1s ease;
    width: 500px;
    place-self: right;
}
.card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 1s ease;
    width: 600px;
    place-self: right;
}

.card:hover {
    transform: scale(1.15);
}

.card-item {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    background-color: aliceblue;
    width: 500px;
    height: 250px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(163, 163, 163) 0%, rgb(81, 81, 81) 40%);
}

.card-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-item img {
    width: 25%;
    height: auto;
    margin-bottom: 10px;
}

.card-item h3 {
    margin-bottom: 10px;
}

.card-item p {
    margin-bottom: 10px;
}

.card-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.card-item button:hover {
    background-color: #f4f6f7;
}


@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-up-animation {
    animation: slide-up 0.5s ease;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: #b7b7b7;
    text-decoration: none;
}
section {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #f4efef;
    text-align: center;
    padding: 1rem;
}
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

header {
    background-color: #3d3d3d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

section {
    padding: 2rem;
}
.skills .skill {
    margin: 1rem 0;
}
.projects .project {
    margin: 1rem 0;
}


@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .dark-mode {
    background-color: rgb(31, 31, 31);
    color: white;
  }

  .dropbtn {
    background-color: #474747;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }